@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: dark;
    font-family: "Kanit";
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
}

p{
    text-align: center;
}

.game-title {
    color: #fef08a;
    font-size: 2.75rem;
    font-weight: 400;
    text-align: center;
    & svg{
        width: 36px;
        height: 36px;
        fill: yellow !important;
    }
}


.main-grid {
    display: grid;
    grid-template-columns: repeat(75, 20px);
    margin: auto;
    background-color: #33322f;
    width: 1500px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
}
.play-again-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    height: 20px;
    width: 20px;
}

.field {
    background-color: #fef08a48;
}

.border {
    background-color: #06b6d4;
}

.point{
    opacity: .8;
    background-image:  url('./assets/cirlclePoint.svg');
    background-position:  center;
    background-repeat: no-repeat;
}

.pacman{
    /* transform: rotate(180deg); */
    background-image:  url('./assets/pacman.svg');
    background-position:  center;
    background-repeat: no-repeat;
}

.winner-text{
    text-align: center;
    font-size: 3rem;
    color: rgb(114, 255, 114);

    /* kjo duhet per humbesin */
    /* text-decoration: underline; */
    /* text-decoration-style: wavy;  */
}

#won-play-again{
    padding: 1rem 2rem;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 10px;

}

.opp{
    background-position:  center;
    background-repeat: no-repeat;
}
#albi{
    background-image:  url('./assets/opp1.svg');
}
#marvin{
    background-image:  url('./assets/opp2.svg');
}
#daisy{
    background-image:  url('./assets/opp3.svg');
}
#georgia{
    background-image:  url('./assets/opp4.svg');
}


.loser-text{
    
}