@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: dark;
    font-family: "Kanit";
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
}

dialog {
    width: 50%;
    border-radius: 1rem;
    padding: 2rem;

    & h3 {
        text-align: center;
        font-size: 2rem;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 1rem;

        >button {
            padding: 0.75rem 4rem;
            border-radius: 0.75rem;
            border: none;
            font-weight: 700;
        }

        >button:hover {
            filter: brightness(75%);
            cursor: pointer;
        }
    }
}

dialog::backdrop{
    background: #1f1f1f83;
    filter: blur(25px);


}

p {
    text-align: center;
}

.game-title {
    color: #fef08a;
    font-size: 2.75rem;
    font-weight: 400;
    margin-bottom: 0.25rem;
    text-align: center;

    & svg {
        width: 36px;
        height: 36px;
        fill: yellow !important;
    }
}


.main-grid {
    display: grid;
    grid-template-columns: repeat(75, 20px);
    margin: auto;
    background-color: #33322f;
    width: 1500px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
}

.main-grid-win-lose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >button {
        padding: 1rem 2rem;
        background: #d3d3d3;
        border: none;
        border-radius: 0.5rem;
        color: #1f1f1f;
        font-weight: 700;
        font-size: 1rem;
    }

    >button:hover {
        background: #aaaaaa;
        cursor: pointer;
    }
}


.square {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.field {
    background-color: #fef08a48;
}

.border {
    background-color: #06b6d4;
}

.point {
    opacity: .8;
    background-image: url('./assets/cirlclePoint.svg');
}

.pacman {
    background-image: url('./assets/pacman.svg');
}

#won {
    font-size: 4rem;
    color: lightgreen;
    margin-bottom: 1rem;
}

#lost {
    font-size: 4rem;
    color: lightcoral;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 0.8rem;
    margin-bottom: 2rem;
}

#modal-yes {
    background-color: lightgreen;
    font-size: 1rem;
    color: #1f1f1f;
}

#modal-no {
    background-color: lightcoral;

    font-size: 1rem;
    color: #1f1f1f;
}


#point-life-container {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 4rem;
}


.ghost {
    /* filter: grayscale(50%); */
}

#ghost1 {
    background-image: url('./assets/ghosts/ghost1.svg');
}

#ghost2 {
    background-image: url('./assets/ghosts/ghost2.svg');
}

#ghost3 {
    background-image: url('./assets/ghosts/ghost3.svg');
}

#ghost4 {
    background-image: url('./assets/ghosts/ghost4.svg');
}

.cherry {
    background-image: url('./assets/extraPoints/cherry.svg');
}

.grape {
    background-image: url('./assets/extraPoints/grape.svg');
}

.lemon {
    background-image: url('./assets/extraPoints/lemon.svg');

}

.special-square {
    background-image: url('./assets/specialSquare.svg');
    opacity: .5;
}

.ghost[eatable="true"] {
    background-image: url('./assets/ghosts/scaredGhost.svg') !important;
}